# ==============================================================================
# PYTHON
# ==============================================================================

__pycache__/
engine/__pycache__/
engine/detectors/__pycache__/
engine/detectors/motion/__pycache__/
engine/source/__pycache__/
engine/visualiser/__pycache__/


# ==============================================================================
# TESTING
# ==============================================================================

config/anguilla.yaml
config/s3_production.yaml
test_output/
tests/


# ==============================================================================
# IDEs
# ==============================================================================
# VS Code
.vscode/
*.code-workspace

# PyCharm / JetBrains
.idea/
*.iml
*.ipr
*.iws

# Vim
*.swp
*.swo
*~

# Emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock

# Sublime Text
*.sublime-workspace
*.sublime-project

# Spyder
.spyderproject
.spyproject

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints


# ==============================================================================
# MODEL WEIGHTS
# ==============================================================================
models/